@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-datepicker/dist/react-datepicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.buttonshine {
  position: relative;
  overflow: hidden; /* Ensures shine effect stays within the button */
}

.buttonshine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px; /* Start shine effect outside the button */
  width: 100px; /* Width of the shine effect */
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.908) 50%,
    rgba(255, 255, 255, 0) 70%
  );

  opacity: 0.6;
  transform: skewX(-20deg); /* Add a diagonal shine */
  animation: shine 3s ease-out infinite;
}

.buttonshinehover {
  position: relative;
  overflow: hidden; /* Ensures the shine effect stays within the button */
}
.buttonshinehover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.908) 50%,
    rgba(255, 255, 255, 0) 70%
  );

  opacity: 0;
  transform: skewX(-20deg);
  transition: opacity 0.3s ease-in-out;
}

.buttonshinehover:hover::before {
  opacity: 0.6;
  animation: shine 2s ease-out infinite;
}

@keyframes shine {
  0% {
    left: -150px; /* Start outside */
  }
  100% {
    left: 100%; /* Move completely across */
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.modal-container {
  animation: zoomIn 0.3s ease-out forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.modal-container.zoom-out {
  animation: zoomOut 0.3s ease-out forwards;
}
